@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*Main*/
/*Lado esquerdo*/
.fundo_cadastrar {
    background-image: url(/img/Fundo_login.png);
    max-width: 780px;
    width: 100%;
    min-height: 955px;
    height: 100%;
    display: flex;
    align-items: end;
}

.cont-cadastrar {
    display: flex;
    flex-direction: row;
}

.texto_esquerdo_cadastrar {
    padding: 0 80px 160px 80px;
}

.h1_cadastrar {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 56px;
}

.h4_cadastrar {
    color: white;
    font-weight: 300;
    line-height: 40px;
    font-size: 23px;
}

/*Lado direito*/

.section_cadastrar {
    margin: 60px 0 0 230px;

}

.h2_entrar_cadastrar {
    font-size: 36px;
    font-weight: 900;
    color: #2F3640;
}

.acessar_sua_conta {
    color: rgba(47, 54, 64, 0.6);
    font-weight: 300;
    line-height: 40px;
    font-size: 23px;
}

.img_entrar_cadastrar {
    max-width: 300px;
    cursor: pointer;
}

.traco_cadastrar {
    color: rgba(47, 54, 64, 0.6);
    font-weight: 300;
    line-height: 40px;
    font-size: 15px;

}

.ou_e-mail_cadastrar {
    color: rgba(47, 54, 64, 0.6);
    font-weight: 300;
    line-height: 0px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.section_cadastrar hr { 
    height: 1px;
    width: 33%;
    margin-top: 13px;
}

.form_cadastrar {
    display: flex;
    flex-direction: column;
}

.form_cadastrar label {
    font-weight: bold;
    color: #2F3640;
}

.form_cadastrar input {
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #E5E7EB;
    max-width: 580px;
}

.section_cadastrar a {
    text-decoration: none;
    font-weight: bold;
    color: #2C6BED;
}

.section_cadastrar a:hover {
    color: #5b8ae9;
    
}

.form_cadastrar button {
    padding: 15px;
    max-width: 620px;
    margin-top: 35px;
    background-color: #2C6BED;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    box-shadow: 2px 4px 9px rgba(0,0,0,0.5);
}

.form_cadastrar button:hover {
    background-color: #5b8ae9;
    cursor: pointer;
}

.nao_tem_conta {
    color: rgba(47, 54, 64, 0.6);
    margin: 45px 0 0 192px;
}

.concorda_cadastrar {
    color: rgba(47, 54, 64, 0.4);
    margin-top: 10px;
    margin-left: 70px;
    max-width: 500px;
    text-align: center;
}

.concorda_cadastrar a {
    color: rgba(47, 54, 64, 0.4);
    font-size: 16px;
    font-weight: normal;
}

.concorda_cadastrar a:hover {
    color: #2F3640;
}
