@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{

  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1{
    font-weight: 900 ;
}

    


.topo{
    list-style: none;
    gap: 20px;
    display: flex;
    text-decoration: none;
    
}
