@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Header*/
header {
    background-color: white ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7EBF3;
    padding: 0 160px;
}

.simbolo_mais {
    color: #2C6BED;
}

.teste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 80px;
    max-height: 80px;
}

header li {
    list-style: none;
    color: #0E121B;
    display: inline-block;
    padding: 0 15px;

}

li:hover {
    color: #2C6BED;
    
}

#pg_atual {
    color: #2C6BED;
}

a {
    text-decoration: none;
}

.entrar {
    color: #2C6BED;
    border: 1px solid #D5E1FB;
    border-radius: 15px;
    padding: 12px;
}

.baixar_agora {
    color: white;
    background-color: #2C6BED;
    border: 1px solid #2C6BED;
    border-radius: 15px;
    padding: 15px;
}
/*Main*/
/*Parte Superior*/
.parte_superior_sobre_nos {
    background-image: url(/img/Fundo_sobre_nos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cont-parte_superior_sobre_nos {
    margin: 0 160px;
    padding: 90px 0;
    text-align: center;
}

.tick_sobre_nos {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(3px);
    margin: 0 auto;
    max-width: 140px;
}

.h2_sobre_nos_parte_superior {
    font-size: 70px;
    font-weight: 900;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    padding: 15px;
}

.h2_sobre_nos_parte_superior span {
    color: #F1C40F;
}

.descricao_sobre_nos_parte_superior {
    color: white;
    font-size: 22px;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
}

/*Nossos Valores*/

.cor_tela_sobre {
    background-color: #F2F4F7;
}

.h2_sobre_nos {
    text-align: center;
    padding: 46px 24px 25px 24px;
    font-size: 36px;
    font-weight: 900;
    color: #2F3640;
    margin: 0;
}

.tick_azul_sobre {
    background-color: #2C6BED;
    font-size: 6px;
    color: #2C6BED;
    margin: 0 auto;
    max-width: 75px;
    max-height: 15px;
    border-radius: 15px;
}

.div_cards_nossos_valores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
    padding: 25px;
}

.cards_nossos_valores {
    background-color: white;
    max-width: 400px;
    min-height: 350px;
    padding: 35px;
    border: 1px solid #F3F4F6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icones_nossos_valores {
    max-width: 90px;
    max-height: 90px;
}

.titulo_cards_nossos_valores {
    color: #2F3640;
    font-weight: 700;
    font-size: 27px;
}

.descricao_cards_nossos_valores {
    color: #4E6797;
    font-size: 17px;
}

#integridade {
    color: #2ECC71;
}

#impacto_social {
    color: #F1C40F;
}

/*Por que nasceu?*/
.pq_nasceu {
    margin: 0 160px 0 160px;
    display: flex;
    flex-direction: row;
}

.img_pessoa {
    max-width: 750px;
    max-height: 550px;
}

.text_pq_nasceu {
    padding-left: 50px;
}

.h2_pq_nasceu {
    font-size: 36px;
    font-weight: 900;
    color: #2F3640;
}

.h2_pq_nasceu span {
    color: #2C6BED;
}

.p_pq_nasceu {
    color: rgba(47, 54, 64, 0.7);
    font-size: 24px;
    line-height: 29px;
}

.dados_pq_nasceu {
    display: flex;
    flex-direction: row;
}

#segundo_card_pq {
    margin: 0 40px;
}

#primeiro_valor_pq {
    font-weight: 900;
    font-size: 30px;
    color: #2C6BED;
    margin: 0;
}

#segundo_valor_pq {
   font-weight: 900;
    font-size: 30px;
    color: #2ECC71;
    margin: 0;
}

.descricao_valores_pq {
    color: rgba(47, 54, 64, 0.5);
}

/*Perguntas Frequentes*/
.section_perguntas_frequentes {
    margin: 120px 160px 0 160px;
}

.h4_perguntas_frequentes {
    color: #2C6BED;
    text-align: center;
}

.h2_perguntas_frequentes {
    font-size: 36px;
    font-weight: 900;
    color: #2F3640;
    text-align: center;
}

.div_caixas_de_perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:65px;
}

.caixa_de_perguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: white;
    border: 1px solid #F3F4F6;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    min-width: 1150px;
    margin: 7px 0;
}

.icone_e_perguntas {
    display: flex;
    flex-direction: row;
}

.icones_perguntas_frequentes {
    max-width: 21px;
    max-height: 21px;
    margin: 15px;
}

.icone_seta_perguntas {
    max-width: 18px;
    max-height: 18px;
    margin: 20px 0;
}

/*Pronto para transformar?*/
.section_transformar {
    background-color: #2F3640;
}

.h2_transformar {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding-top: 67px;
}

.p_tranformar {
    color: #9CA3AF;
    text-align: center;
}

.div_baixar_btns {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
}

.img_baixar_transformar {
    max-width: 170px;
    max-height: 59px;
}
/*Footer*/
.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-footer {
    margin: 35px 160px;
}

footer div img {
    max-width: 55px;
    max-height: 55px;

}

.footer_sobre {
    max-width: 170px;
}

.footer_logo {
    display: flex;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    list-style: none;
    margin: 5px;
}

footer p {
    color: #4E6797;
    line-height: 22px;
}

footer a {
    text-decoration: none;
    color: #4E6797;
}

footer a:hover {
    color: #202b3f;
}

footer p img {
    max-width: 25px;
    max-height: 35px;
    margin: 5px;
}

.fim_footer {
    text-align: center;
}