@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}
/*Header*/
.header_index {
    padding: 0 12px;
    border-bottom: 1px solid #E7EBF3;
}

.header_mobile_index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_name_index {
    display: flex;
    flex-direction: row;
}

.logo_cdd_header {
    max-width: 3rem;
}

.h1_index {
    font-size: 27px;
}

.simbolo_mais {
    color: #2C6BED;
}

.icon_menu_index {
    max-height: 50px;
}

.material-symbols-outlined {
    margin-top: 5%;
}

.header_index ul {
    list-style: none;
    text-align: center;
}

.header_index li {
    padding: 8px;
}

.header_index li a {
    text-decoration: none;
    color: #0E121B;
}

.header_index li.entrar_botao_index a {
    color: #2C6BED;
    font-weight: 700;
    border: 2px solid #D5E1FB;
    border-radius: 12px;
    padding: 10px 64px;
}

li.baixar_agora {
    margin-top: 15px;
}

.header_index li.baixar_agora a {
    color: white;
    background-color: #2C6BED;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px 64px;
}

/*Main*/
/* Parte superior */

.parte_superior {
    background-color: #F8FAFC;
    border-bottom: 2px solid #E7EBF3;
}

.tec_que_resolve {
    padding-top: 35px;
}

.tick_disponivel {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 107, 237, 0.1);
    color: #2C6BED;
    font-weight: 700;
    max-width: 300px;
    padding: 6px;
    border-radius: 16px;
}

.div_h2_index {
    text-align: center;
}

.h2_tec_que_resolve {
    font-weight: 900;
    font-size: 40px;
    line-height: 30%;
}

.p_tec {
    text-align: center;
    padding: 0 17px;
    color: #4E6797;
    font-size: 24px;
}

.div_apps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.img_baixar {
    max-width: 12rem;
    padding-top: 10px;
}

.parte_superior aside {
    text-align: center;
}

.mock_celular {
    max-width: 25rem;
}

/* Impacto na sua Cidade */

.h4_impacto {
    color: #9CA3AF;
    text-align: center;
    font-weight: bold;
}

.impacto_na_cidade {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.title_impactos {
    color: #4E6797;
    margin: 7px;
}

.valores_impactos {
    font-weight: 900;
    color: #0E121B;
    font-size: 45px;
    margin: 24px;
}

#problemas_resolvidos_valor {
    color: #2C6BED;
}

.descricao_impacto {
    color: #2ECC71;
    font-weight: bold;
}

/* Por que usar o Cidades+ */

.section_pq_usar_cidades {
    background-color: #F8FAFC;
    border-top: 2px solid #E7EBF3;
    border-bottom: 2px solid #E7EBF3;
}

.cont_pq_usar {
    padding: 0 35px;
    text-align: center;
}

.h4_pq_usar {
    color: #2C6BED;
    font-weight: bold;
}

.voz_poder {
    color: #0E121B;
    font-weight: 900;
    font-size: 28px;
}

.frase_poder {
    color: #4E6797;
    font-size: 20px;
}

.div_cards_pq {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards_pq {
    background-color: white;
    padding: 25px;
    margin: 25px 0;
    border: 2px solid #E7EBF3;
    border-radius: 12px;
}

.icones_pq {
    max-width: 25%;
}

.title_cards_pq {
    font-weight: 700;
    font-size: 23px;
}

.descricao_cards_pq {
    color: #4E6797;
}

/* Como funciona o aplicativo */

.section_como_funciona {
    border-bottom: 2px solid #E7EBF3;
}

.cont_como_funciona {
    text-align: center;
    padding: 0 12px;
}

.div_cards_como_funciona {
    display: flex;
    flex-direction: column;
}

.card_como_funciona {
    max-width: 70%;
    margin: 0 auto;
}

.icone_como_funciona {
    max-width: 50%;
}

.title_cards_como_funciona {
    color: #0E121B;
    font-size: 25px;
    margin: 10px 0;
}

.descricao_cards_como_funciona {
    color: #4E6797;
    font-size: 18px;
}

/*Footer*/

footer {
    text-align: center;
    padding: 0 35px;
}

footer a,p {
    color: #4E6797;
}

.footer_section {
    display: flex;
    flex-direction: column;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_footer_img {
    max-width: 10%;
}

.icons_footer_img {
    max-width: 10%;
}