@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}
/*Header*/
.header_index {
    padding: 0 12px;
    border-bottom: 1px solid #E7EBF3;
}

.header_mobile_index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_name_index {
    display: flex;
    flex-direction: row;
}

.logo_cdd_header {
    max-width: 3rem;
}

.h1_index {
    font-size: 27px;
}

.simbolo_mais {
    color: #2C6BED;
}

.icon_menu_index {
    max-height: 50px;
}

.material-symbols-outlined {
    margin-top: 1.5rem;
    display: block;
}

.header_index ul {
    list-style: none;
    text-align: center;
}

.header_index li {
    padding: 8px;
}

.header_index li a {
    text-decoration: none;
    color: #0E121B;
}

.header_index li.entrar_botao_index a {
    color: #2C6BED;
    font-weight: 700;
    border: 2px solid #D5E1FB;
    border-radius: 12px;
    padding: 10px 64px;
}

li.baixar_agora {
    margin-top: 15px;
}

.header_index li.baixar_agora a {
    color: white;
    background-color: #2C6BED;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px 64px;
}

/*Main*/
/* Parte superior */

.parte_superior {
    background-color: #F8FAFC;
    border-bottom: 2px solid #E7EBF3;
}

.tec_que_resolve {
    padding-top: 35px;
}

.tick_disponivel {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 107, 237, 0.1);
    color: #2C6BED;
    font-weight: 700;
    max-width: 300px;
    padding: 6px;
    border-radius: 16px;
}

.div_h2_index {
    text-align: center;
}

.h2_tec_que_resolve {
    font-weight: 900;
    font-size: 40px;
    line-height: 0.4;
}

.p_tec {
    text-align: center;
    padding: 0 17px;
    color: #4E6797;
    font-size: 24px;
}

.div_apps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.img_baixar {
    max-width: 12rem;
    padding-top: 10px;
}

.parte_superior aside {
    text-align: center;
}

.mock_celular {
    max-width: 17rem;
}

/* Impacto na sua Cidade */

.h4_impacto {
    color: #9CA3AF;
    text-align: center;
    font-weight: bold;
}

.impacto_na_cidade {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.card_impacto_index {
    border-top: 2px solid #E7EBF3;
    border-bottom: 2px solid #E7EBF3;
    max-width: 350px;
    padding: 25px 0;
    margin: 0 auto;
    }

.title_impactos {
    color: #4E6797;
    margin: 7px;
}

.valores_impactos {
    font-weight: 900;
    color: #0E121B;
    font-size: 45px;
    margin: 24px;
}

#problemas_resolvidos_valor {
    color: #2C6BED;
}

.descricao_impacto {
    color: #2ECC71;
    font-weight: bold;
}

/* Por que usar o Cidades+ */

.section_pq_usar_cidades {
    background-color: #F8FAFC;
    border-top: 2px solid #E7EBF3;
    border-bottom: 2px solid #E7EBF3;
}

.cont_pq_usar {
    padding: 0 35px;
    text-align: center;
}

.h4_pq_usar {
    color: #2C6BED;
    font-weight: bold;
}

.voz_poder {
    color: #0E121B;
    font-weight: 900;
    font-size: 28px;
}

.frase_poder {
    color: #4E6797;
    font-size: 20px;
}

.div_cards_pq {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards_pq {
    background-color: white;
    padding: 25px;
    margin: 25px 0;
    border: 2px solid #E7EBF3;
    border-radius: 12px;
}

.icones_pq {
    max-width: 25%;
}

.title_cards_pq {
    font-weight: 700;
    font-size: 23px;
}

.descricao_cards_pq {
    color: #4E6797;
}

/* Como funciona o aplicativo */

.section_como_funciona {
    border-bottom: 2px solid #E7EBF3;
}

.cont_como_funciona {
    text-align: center;
    padding: 0 12px;
}

.div_cards_como_funciona {
    display: flex;
    flex-direction: column;
}

.card_como_funciona {
    max-width: 70%;
    margin: 0 auto;
}

.icone_como_funciona {
    max-width: 6rem;
}

.title_cards_como_funciona {
    color: #0E121B;
    font-size: 25px;
    margin: 10px 0;
}

.descricao_cards_como_funciona {
    color: #4E6797;
    font-size: 18px;
}

/*Footer*/

footer {
    text-align: center;
    padding: 0 35px;
}

footer a,
footer p {
    color: #4E6797;
}

.footer_section {
    display: flex;
    flex-direction: column;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_footer_img {
    max-width: 3rem;
}

.icons_footer_img {
    max-width: 2.5rem;
}

/* Tablet pequeno */
@media (min-width: 480px) {
    .mock_celular {
        max-width: 21rem;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .p_tec {
        max-width: 500px;
        margin: 15px auto;
    }

    .impacto_na_cidade {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px 45px;
    }
    
    .card_impacto_index {
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #E7EBF3;
        border-right: 2px solid #E7EBF3;
        padding: 0 4rem;
    }

    .cards_pq {
        max-width: 500px;
        margin: 25px auto;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    /*Header*/
    .header_index {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo_cdd_header {
        max-width: 3rem;
    }
    
    header .material-symbols-outlined {
        display: none;
    }

    header li {
        display: inline-block;
        margin: 0 7px;
    }

    li.baixar_agora {
        margin-top: 0px;
    }

    .h1_index {
        margin-top: 17px;
    }

    .header_index li.entrar_botao_index a {
        padding: 8px 32px;
    }

    .header_index li.baixar_agora a {
        padding: 12px 32px;
    }

    /*Main*/
    /*Parte superior*/
    .parte_superior {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .tick_disponivel {
        text-align: left;
        margin: 0;
    }

    .h2_tec_que_resolve {
        font-size: 50px;
        line-height: 0.2;
        text-align: left;
    }

    .p_tec {
        text-align: left;
        padding: 0;
    }

    .div_apps {
        flex-direction: row;
    }

    .img_baixar {
        margin: 0 6px;
    }

    .mock_celular {
        max-width: 23rem;
    }

    /*Impacto na cidade*/
    .impacto_na_cidade {
        margin: 25px 100px;
    }

    
    /*Footer*/
    .footer_section {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        margin: 65px 4px;
    }

    .footer_logo {
        justify-content: left;
    }
    
    .footer_sobre {
        max-width: 350px;
        text-align: left;
    }

    .icons_footer_img {
        max-width: 2.5rem;
        padding: 0 2px;
    }
}
/* Desktop grande */
@media (min-width: 1400px) {
    .cont_pq_usar {
        padding: 30px;
    }

    .div_cards_pq {
        flex-direction: row;
        justify-content: space-around;
    }

    .cards_pq {
        margin: 10px 35px;
    }

    .div_cards_como_funciona {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 35px;
        text-align: center;
    }

    .card_como_funciona {
        max-width: 400px;
    }
}