@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}
/*Header*/
.header_index {
    padding: 0 12px;
    border-bottom: 1px solid #E7EBF3;
}

.header_index a:hover{
    color: #2C6BED;
}

.header_mobile_index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_name_index {
    display: flex;
    flex-direction: row;
}

.logo_cdd_header {
    max-width: 3rem;
}

.h1_index {
    font-size: 27px;
}

.simbolo_mais {
    color: #2C6BED;
}

.icon_menu_index {
    max-height: 50px;
}

.material-symbols-outlined {
    margin-top: 1.5rem;
    display: block;
}

.header_index ul {
    list-style: none;
    text-align: center;
}

.header_index li {
    padding: 8px;
}

.header_index li a {
    text-decoration: none;
    color: #0E121B;
}

.header_index li.entrar_botao_index a {
    color: #2C6BED;
    font-weight: 700;
    border: 2px solid #D5E1FB;
    border-radius: 12px;
    padding: 10px 64px;
}

li.baixar_agora {
    margin-top: 15px;
}

.header_index li.baixar_agora a {
    color: white;
    background-color: #2C6BED;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px 64px;
}

.header_index li.pg_atual a {
    color: #2C6BED;
}
/* INDEX */
/*Main*/
/* Parte superior */

.parte_superior {
    background-color: #F8FAFC;
    border-bottom: 2px solid #E7EBF3;
}

.tec_que_resolve {
    padding-top: 35px;
}

.tick_disponivel {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 107, 237, 0.1);
    color: #2C6BED;
    font-weight: 700;
    max-width: 300px;
    padding: 6px;
    border-radius: 16px;
}

.div_h2_index {
    text-align: center;
}

.h2_tec_que_resolve {
    font-weight: 900;
    font-size: 40px;
    line-height: 0.4;
}

.p_tec {
    text-align: center;
    padding: 0 17px;
    color: #4E6797;
    font-size: 24px;
}

.div_apps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.img_baixar {
    max-width: 12rem;
    padding-top: 10px;
}

.parte_superior aside {
    text-align: center;
}

.mock_celular {
    max-width: 17rem;
}

/* Impacto na sua Cidade */

.h4_impacto {
    color: #9CA3AF;
    text-align: center;
    font-weight: bold;
}

.impacto_na_cidade {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.card_impacto_index {
    border-top: 2px solid #E7EBF3;
    border-bottom: 2px solid #E7EBF3;
    max-width: 350px;
    padding: 25px 0;
    margin: 0 auto;
    }

.title_impactos {
    color: #4E6797;
    margin: 7px;
}

.valores_impactos {
    font-weight: 900;
    color: #0E121B;
    font-size: 45px;
    margin: 24px;
}

#problemas_resolvidos_valor {
    color: #2C6BED;
}

.descricao_impacto {
    color: #2ECC71;
    font-weight: bold;
}

/* Por que usar o Cidades+ */

.section_pq_usar_cidades {
    background-color: #F8FAFC;
    border-top: 2px solid #E7EBF3;
    border-bottom: 2px solid #E7EBF3;
}

.cont_pq_usar {
    padding: 0 35px;
    text-align: center;
}

.h4_pq_usar {
    color: #2C6BED;
    font-weight: bold;
}

.voz_poder {
    color: #0E121B;
    font-weight: 900;
    font-size: 28px;
}

.frase_poder {
    color: #4E6797;
    font-size: 20px;
}

.div_cards_pq {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards_pq {
    background-color: white;
    padding: 25px;
    margin: 25px 0;
    border: 2px solid #E7EBF3;
    border-radius: 12px;
}

.icones_pq {
    max-width: 25%;
}

.title_cards_pq {
    font-weight: 700;
    font-size: 23px;
}

.descricao_cards_pq {
    color: #4E6797;
}

/* Como funciona o aplicativo */

.section_como_funciona {
    border-bottom: 2px solid #E7EBF3;
}

.cont_como_funciona {
    text-align: center;
    padding: 0 12px;
}

.div_cards_como_funciona {
    display: flex;
    flex-direction: column;
}

.card_como_funciona {
    max-width: 70%;
    margin: 0 auto;
}

.icone_como_funciona {
    max-width: 6rem;
}

.title_cards_como_funciona {
    color: #0E121B;
    font-size: 25px;
    margin: 10px 0;
}

.descricao_cards_como_funciona {
    color: #4E6797;
    font-size: 18px;
}

/* MAIN SOBRE NÓS */

.parte_superior_sobre_nos {
    background-image: url(/img/fundo_sobre_nos_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35px 20px 0 20px ;
}

.tick_sobre_nos {
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(3px);
    margin: 0 auto;
    max-width: 140px;
}

.h2_sobre_nos_parte_superior {
    font-size: 39px;
    font-weight: 900;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    padding: 5px;
}

.h2_sobre_nos_parte_superior span {
    color: #F1C40F;
}

.descricao_sobre_nos_parte_superior {
    color: white;
    font-size: 15px;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    padding: 17px 5px;
}

.cor_tela_sobre {
    background-color: #F2F4F7;
}

.h2_sobre_nos {
    text-align: center;
    padding: 28px 24px 15px 24px;
    font-size: 33px;
    font-weight: 900;
    color: #2F3640;
    margin: 0;
}

.tick_azul_sobre {
    background-color: #2C6BED;
    font-size: 6px;
    color: #2C6BED;
    margin: 0 auto;
    max-width: 75px;
    max-height: 15px;
    border-radius: 15px;
}
/* NOSSOS VALORES */

.div_cards_nossos_valores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 35px;
    margin: 0 auto;
}

.cards_nossos_valores {
    background-color: white;
    padding: 25px;
    border: 1px solid #F3F4F6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0;
}

.icones_nossos_valores {
    max-width: 70px;
    max-height: 70px;
}

.titulo_cards_nossos_valores {
    color: #2F3640;
    font-weight: 700;
    font-size: 23px;
}

.descricao_cards_nossos_valores {
    color: #4E6797;
    font-size: 16px;
}

#integridade {
    color: #2ECC71;
    font-weight: 600;
}

#impacto_social {
    color: #F1C40F;
    font-weight: 600;
}

/*Por que nasceu?*/
.pq_nasceu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_pessoa {
    width: clamp(350px, 65%, 1200px);
    height: clamp(250px, 65%, 1200px);
}

.text_pq_nasceu {
    padding: 0 25px;
    text-align: left;
}

.h2_pq_nasceu {
    font-size: 36px;
    font-weight: 900;
    color: #2F3640;
}

.h2_pq_nasceu span {
    color: #2C6BED;
}

.p_pq_nasceu {
    color: rgba(47, 54, 64, 0.7);
    font-size: 24px;
    line-height: 29px;
}

.dados_pq_nasceu {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#segundo_card_pq {
    margin: 0 40px;
}

#primeiro_valor_pq {
    font-weight: 900;
    font-size: 30px;
    color: #2C6BED;
    margin: 0;
}

#segundo_valor_pq {
   font-weight: 900;
    font-size: 30px;
    color: #2ECC71;
    margin: 0;
}

.descricao_valores_pq {
    color: rgba(47, 54, 64, 0.5);
}

/*Perguntas Frequentes*/
.section_perguntas_frequentes {
    margin: 0 1px;
}

.h4_perguntas_frequentes {
    color: #2C6BED;
    text-align: center;
}

.h2_perguntas_frequentes {
    font-size: 30px;
    font-weight: 900;
    color: #2F3640;
    text-align: center;
}

.div_caixas_de_perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:65px;
}

.caixa_de_perguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: white;
    border: 1px solid #F3F4F6;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: clamp(300px, 80%, 1200px);
    margin: 7px 10px;
}

.icone_e_perguntas {
    display: flex;
    flex-direction: row;
}

.icones_perguntas_frequentes {
    max-width: 20px;
    max-height: 20px;
    margin: 17px 15px 15px 0;
}

.icone_seta_perguntas {
    max-width: 15px;
    max-height: 15px;
    margin: 20px 0;
}

/*Pronto para transformar?*/
.section_transformar {
    background-color: #2F3640;
}

.h2_transformar {
    color: white;
    text-align: center;
    font-size: 29px;
    font-weight: 900;
    margin: 0;
    padding: 67px 15px;
}

.p_tranformar {
    color: #9CA3AF;
    text-align: center;
}

.div_baixar_btns {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
}

.img_baixar_transformar {
    max-width: 170px;
    max-height: 59px;
}


/*Footer*/

footer {
    text-align: center;
    padding: 0 35px;
}

footer a,
footer p {
    color: #4E6797;
}

.footer_section {
    display: flex;
    flex-direction: column;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_footer_img {
    max-width: 3rem;
}

.icons_footer_img {
    max-width: 2.5rem;
}

/* Tablet pequeno */
@media (min-width: 480px) {
    /* INDEX */
    .mock_celular {
        max-width: 21rem;
    }

    /* SOBRE-NOS */
    .dados_pq_nasceu {
        justify-content: center;
        margin: 0 auto;
    }
    /* PERGUNTAS FREQUENTES */
    .div_caixas_de_perguntas {
        padding: 0px 0px 30px 0;
    }

/* Tablet */
@media (min-width: 768px) {
    .p_tec {
        max-width: 500px;
        margin: 15px auto;
    }

    .impacto_na_cidade {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px 45px;
    }
    
    .card_impacto_index {
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #E7EBF3;
        border-right: 2px solid #E7EBF3;
        padding: 0 4rem;
    }

    .cards_pq {
        max-width: 500px;
        margin: 25px auto;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    /*Header*/
    .header_index {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo_cdd_header {
        max-width: 3rem;
    }
    
    header .material-symbols-outlined {
        display: none;
    }

    header li {
        display: inline-block;
        margin: 0 7px;
    }

    li.baixar_agora {
        margin-top: 0px;
    }

    .h1_index {
        margin-top: 17px;
    }

    .header_index li.entrar_botao_index a {
        padding: 8px 32px;
    }

    .header_index li.baixar_agora a {
        padding: 12px 32px;
    }
    /* INDEX */
    /*Main*/
    /*Parte superior*/
    .parte_superior {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .tick_disponivel {
        text-align: left;
        margin: 0;
    }

    .h2_tec_que_resolve {
        font-size: 50px;
        line-height: 0.2;
        text-align: left;
    }

    .p_tec {
        text-align: left;
        padding: 0;
    }

    .div_apps {
        flex-direction: row;
    }

    .img_baixar {
        margin: 0 6px;
    }

    .mock_celular {
        max-width: 23rem;
    }

    /*Impacto na cidade*/
    .impacto_na_cidade {
        margin: 25px 100px;
    }

    /* SOBRE NOS */
    /* TELAO SUPERIOR */
    .cont-parte_superior_sobre_nos {
        padding: 36px 0;
    }

    .h2_sobre_nos_parte_superior {
        font-size: 45px;
        max-width: 700px;
    }

    /* NOSSOS VALORES */
    .div_cards_nossos_valores {
        flex-direction: row;
    }

    .cards_nossos_valores {
        margin: 10px;
    }

    /* POR QUE NASCEU */
    .pq_nasceu {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img_pessoa {
        width: 600px;
        height: 500px;
    }

    .text_pq_nasceu {
        max-width: 600px;
    }

    /* PRONTO PARA TRANFORMAR */
    .h2_transformar {
        padding: 25px 0 10px 0;
    }

    
    /*Footer*/
    .footer_section {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        margin: 65px 4px;
    }

    .footer_logo {
        justify-content: left;
    }
    
    .footer_sobre {
        max-width: 350px;
        text-align: left;
    }

    .icons_footer_img {
        max-width: 2.5rem;
        padding: 0 2px;
    }
}
/* Desktop grande */
@media (min-width: 1400px) {
    /* MAIN INDEX */
    .card_impacto_index {
        margin: 0;
        max-width: 400px;
    }
    .cont_pq_usar {
        padding: 30px;
    }

    .div_cards_pq {
        flex-direction: row;
        justify-content: space-around;
    }

    .cards_pq {
        margin: 10px 35px;
    }

    .div_cards_como_funciona {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 35px;
        text-align: center;
    }

    .card_como_funciona {
        max-width: 400px;
    }

    /* SOBRE NOS */
    .h2_sobre_nos_parte_superior {
        font-size: 60px;
        max-width: 850px;
    }

    .img_pessoa {
        width: 800px;
        height: 600px;
    }

    .text_pq_nasceu {
        max-width: 800px;
    }
}
}