@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Header*/
header {
    background-color: white ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7EBF3;
    padding: 0 160px;
}

.simbolo_mais {
    color: #2C6BED;
}

.teste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 80px;
    max-height: 80px;
}

header li {
    list-style: none;
    color: #0E121B;
    display: inline-block;
    padding: 0 15px;

}

li:hover {
    color: #2C6BED;
    
}

#pg_atual {
    color: #2C6BED;
}

a {
    text-decoration: none;
}

.entrar {
    color: #2C6BED;
    border: 1px solid #D5E1FB;
    border-radius: 15px;
    padding: 12px;
}

.baixar_agora {
    color: white;
    background-color: #2C6BED;
    border: 1px solid #2C6BED;
    border-radius: 15px;
    padding: 15px;
}
/*Main*/
/*Primeira parte*/
.parte_superior {
    display: flex;
    justify-content: space-between;
    background-color: #F8FAFC;
    border-bottom: 2px solid #E7EBF3;
    
}

.tec_que_resolve {
    background-color: #F8FAFC;
    margin: 125px 160px 0 160px;
}

.tick_disponivel {
    background-color: #E4ECFB;
    color: #2C6BED;
    padding: 8px 16px;
    max-width: 220px;
    font-size: 13px;
    border-radius: 25px;
    font-weight: bold;
}

.h2_tec_que_resolve {
    font-size: 45px;
    font-weight: 900px;
    line-height: 10px;
}

.p_tec {
    color: #4E6797;
    max-width: 335px;
    line-height: 23px;
}

.img_baixar {
    max-width: 170px;
    max-height: 59px;
}

.mock_celular {
    max-height: 750px;
    margin-right: 160px;
}

/*Impacto na sua cidade*/

.h4_impacto {
    color: #9CA3AF;
    text-align: center;
    margin-top: 36px;
}

.impacto_na_cidade {
    display: flex;
    justify-content: space-around;
    margin: 60px;
    
}

.title_impactos {
    color: #4E6797;
    text-align: center;
    margin: 5px;
    padding: 0;
}

.valores_impactos {
    color: #0E121B;
    text-align: center;
    font-size: 56px;
    font-weight:900;
    margin: 5px;
    padding: 0;
}

#problemas_resolvidos_valor {
    color: #2C6BED;
}

.descricao_impacto {
    color: #2ECC71;
    text-align: center;
    margin: 5px;
    padding: 0;
}

/*Por que usar o Cidades+*/

.section_pq_usar_cidades {
    background-color: #F8FAFC;
    padding: 15px;
    border-bottom: 2px solid #E7EBF3;
}

.cont_pq_usar {
    margin: 0 160px;
}

.h4_pq_usar {
    text-align: center;
    color: #2C6BED;
}

.voz_poder {
    margin: 0;
    color: #0E121B;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.frase_poder {
    color: #4E6797;
    text-align: center;
}

.div_cards_pq {
    display: flex;
    justify-content: space-around;
}

.cards_pq {
    background-color: white;
    min-width: 400px;
    margin: 25px;
    min-height: 250px;
    border: 1px solid #E7EBF3;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icones_pq {
    max-width: 60px;
    max-height: 60px;
}

.title_cards_pq {
    font-size: 30px;
}

.descricao_cards_pq {
    max-width: 300px;
    color: #4E6797;
}

/*Como Funciona o Aplicativo*/
.section_como_funciona {
    border-bottom: 2px solid #E7EBF3;
}

.cont_como_funciona {
    margin: 0 160px;
}

.div_cards_como_funciona {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.card_como_funciona {
    max-width: 400px;
    margin: 25px;
    min-height: 250px;
    text-align: center;
}

.icone_como_funciona {
    max-width: 100px;
    max-height: 100px;
}

/*Footer*/
.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-footer {
    margin: 0 160px;
}

footer div img {
    max-width: 55px;
    max-height: 55px;

}

.footer_sobre {
    max-width: 170px;
}

.footer_logo {
    display: flex;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    list-style: none;
    margin: 5px;
}

footer p {
    color: #4E6797;
    line-height: 22px;
}

footer a {
    text-decoration: none;
    color: #4E6797;
}

footer a:hover {
    color: #202b3f;
}

footer p img {
    max-width: 25px;
    max-height: 35px;
    margin: 5px;
}

.fim_footer {
    text-align: center;
}







